body{ margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: oldlace  ;
}
section{
    display: flex;
}
.half-width-img{
    width: 50%;
    padding-left: 15%;
    border-radius: 20px;
}
.width-img{

width: 50%;
padding-left: 15%;
}
.ZotishLoveJannat{
    color: darkcyan;
}
.para{
    color:orange;
    font-weight:bold;
}
.cl {
    text-decoration: none;
    color: darkturquoise;
}
.pad{
    padding-left: 5%;
    padding-right: 5%;
}
.button{
    background-color: black;
    border-radius: 10px;
}